html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.sticky-note {
    position: absolute;

    width: 250px;
    height: 250px;

    background-color: #ff7eb9;

    border-radius: 8px;

    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.03),
        0px 12px 9px rgba(3, 7, 18, 0.05),
        0px 20px 15px rgba(3, 7, 18, 0.06),
        0px 32px 24px rgba(3, 7, 18, 0.08);
}

.sticky-note-header {
    width: 100%;
    height: 35px;

    background-color: #ff65a3;

    border-radius: 8px;
}

.sticky-note-delete {     
    margin-right: 4px;
    display: flex;   

    background: transparent; 
    border: none;
    color: #ffffff; 
    font-weight: bold;
    cursor: pointer;
}

.sticky-note-textarea {
    padding: 8px;

    width: 100%;
    height: calc(100% - 35px);

    color: #ffffff; 

    box-sizing: border-box;
    background-color: transparent;
    resize: none;

    outline: none;        
    border: none;         
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.sticky-note-holder {
    position: relative; 
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
    background: #f9f9f9;
}